# Thư viện PHP
/vendor/
/node_modules/

# Cấu hình môi trường (BẢO MẬT QUAN TRỌNG)
.env
.env.backup
.env.example.backup

# Cache, Logs, Storage của Laravel
/public/hot
/public/storage
/storage/*.key
/storage/debugbar/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/testing/
/storage/framework/views/
/storage/logs/

# Build assets
/public/build
/public/hot

# File hệ thống và Editor
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.vscode/
.DS_Store